:root{
    --main-color: #f4f4f4;
    --container-color: Black;
    --header-color: #3550ca;
    --nav-color: #2a8a85;
    --section-color: #e9ca1e;
    --article-color: #e47245;
    --aside-color: #f4f4f4;
    --footer-color: #3550ca;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.main-site {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--container-color);
    padding: 2vh;
    gap: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 5fr 10fr 10fr 5fr;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "section section aside"
    "article article aside"
    "footer footer footer";
    width: 50vw;
    height: 60vh;
}

.header {
    background-color: var(--header-color);
    grid-area: header;
    text-align: center;
    /* padding: 1vh; */
}

.nav {
    background-color: var(--nav-color);
    grid-area: nav;
    text-align: center;
    /* padding: 1vh; */
}

.section {
    background-color: var(--section-color);
    grid-area: section;
    text-align: center;
    /* padding: 1vh; */
}

.article {
    background-color: var(--article-color);
    grid-area: article;
    text-align: center;
    /* padding: 1vh; */
}

.aside {
    background-color: var(--aside-color);
    grid-area: aside;
    text-align: center;
    /* padding: 1vh; */
}

.footer {
    background-color: var(--footer-color);
    grid-area: footer;
    text-align: center;
    /* padding: 1vh; */
}